    <div class="jumbotron">
      <div class="container">
        <h1><%=h param[:title] %></h1>
        <p><small><span class="glyphicon glyphicon-link"></span> <a href="<%=h param[:uri] %>"><%=h param[:uri] %></a></small></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>詳細情報</h2>
          <%= format_triples(param[:data]) %>
        </div>
      </div>
    </div>
