<div class="row">
<div class="col-md-12">
  <h2><%=h t("index.list", resource: param[:class_label]) %></h2>
  <ul>
    <%- param[:index_data].each do |e| -%>
      <%- e.each do |s, o| -%>
      <li><%= format_object(s, param[:data_global]) %>
      <%- if o and o.size > 0 -%>
        <ul>
          <%- o.each do |o2| -%>
          <li><%= format_object(o2.to_s, param[:data_global]) %></li>
          <%- end -%>
        </ul>
      <%- end -%>
      </li>
      <%- end -%>
    <%- end -%>
  </ul>
</div>
</div>